.container {
	position: fixed;
	top: 0;
	left:  0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-image: url('grey.png');
	padding:  0px;
	margin: 0px;
}

.top-wrapper {
	text-align: center;
}

.title {
	color:  blue;
}

.list-container {
	text-align: center;
	position: relative;
	margin-top: 10%;
}

.list-container li {
	list-style: none;
    padding: 2px;
    display: list-item;
}

.list-items {
	margin-top:  5%;
}

.list-items li {
	padding:  2px;
	list-style: none;
}

.nav {
	text-align: center;
	padding: 2px;
}

.nav li {
	list-style: none;
	display: inline-flex;
	padding: 2px;
}

